﻿@model AdministracionLibreria.Models.LibroViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>LibroViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AñoPublicacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AñoPublicacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroPaginas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroPaginas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadInventario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadInventario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdAutor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdAutor)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutorNombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutorNombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutorFechaNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutorFechaNacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutorPaisOrigen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutorPaisOrigen)
        </dd>

    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
